html
{
  font-family: Helvetica;
  font-style:bold;
  text-align: center;
}

h1
{
	font-family: Helvetica;
    height: auto;
    text-align: center;
}

p
{
  font-family: Helvetica;
  height: auto;
  text-align: center;
}

div#menu
{
  float:left;
  width:20%;
  height:fit-content;
  background-color: #E35349;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a
{
  text-decoration-line:none;
  color: white;
}

a:hover
{
  text-decoration-line: underline;
}

img
{
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
}