html
{
  font-family: Helvetica;
  text-align: center;
}

h1
{
	font:bold 70px "Helvetica";
  height: auto;
  text-align: center;
}

li
{
  padding:10px;
}

p
{
  font:bold 40px "Helvetica";
  height: auto;
  text-align: center;
}

ul
{
  list-style-type:none;
  font:bold 50px "Helvetica";
}

div#menu
{
  float:left;
  width:15%;
  height:max-content;
  background-color: #C5E7E2;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

a
{
  text-decoration-line:none;
  color: white;
}

a:hover
{
  text-decoration-line: underline;
}

img
{
  border-radius: 30px;
  box-shadow: 3px 3px 3px grey;
}